{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="login-register" style="background-image:url({% static 'assets/images/background/login-register.jpg' %})">
    <div class="login-box card">
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-xs-12 text-center">
                        <div class="user-thumb text-center">
                             <img src="{% static 'assets/images/mozio-logo-beta.png' %}" alt="mozio" width="120" />
{#                            <img alt="mozio" width="120" src="{% static 'assets/images/logo-light-text.png' %}">#}
                        </div>
                    </div>
                </div>
                <h3 class="box-title m-b-10">Login</h3>
                {% if form.errors %}
                    <div class="alert alert-danger">
                    {% if form.non_field_errors %}
                        {{ form.non_field_errors }}
                    {% endif %}
                    </div>
                {% endif %}
                <div class="form-group m-t-20">
                    <div class="col-xs-12">
                        {{ form.username|add_class:"form-control"|attr:"placeholder:Username"}}
                        <div class="form-control-feedback text-danger">{{ form.username.errors }}</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        {{ form.password|add_class:"form-control"|attr:"placeholder:Enter password"}}
                        <div class="form-control-feedback text-danger">{{ form.password.errors }}</div>
                    </div>
                </div>
                <div class="form-group text-center m-t-20">
                    <div class="col-xs-12">
                        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Log In</button>
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-right">
                        <p><a href="{% url 'password_reset' %}" class="text-info m-l-5"><b>Forgot Password?</b></a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
