{% extends 'registration/base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block head %}
<title>Registration</title>
{% endblock %}

{% block content %}
<div class="login-register" style="background-image:url({% static 'assets/images/background/login-register.jpg' %})">
    <div class="login-box card">
        <div class="card-body">
            <div class="form-group">
                <div class="col-xs-12 text-center">
                    <div class="user-thumb text-center">
                        <img alt="mozio" width="120" src="{% static 'assets/images/logo-light-text.png' %}">
                    </div>
                </div>
            </div>
            <h3 class="box-title m-b-20">Congratulations!</h3>
            <p>You have successfully registered for an mozio account!</p>
            <p>An account activation email has been sent to you with IMPORTANT information.<br/>Before you can use your account, you must open that email and click the link within.</p>
            <p>We look forward to having you as the newest member of mozio.</p>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <p><a class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" href="/account/login">Login Here</a></p>
                </div>
                <div class="col-xs-12">
                    <p><a href="{% url 'resend_verification' %}" class="text-info m-l-5"><b>Resend Verification Email</b></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
