Django==1.11.17
#django-model-utils==1.4.0
django-model-utils==3.1.2
django-pipeline==1.6.14
markdown==2.6.11

# Raven pinned to 3.3.7 - see
# https://github.com/getsentry/raven-python/issues/337
raven==6.6.0
django-sentry==1.13.5
requests==2.18.4
# support special characters

django-allauth==0.35.0

# Django Easy Audit
# https://github.com/soynatan/django-easy-audit
git+https://github.com/soynatan/django-easy-audit.git
django-grappelli==2.11.1

djangorestframework==3.7.7
django-filter==1.1.0
coreapi==2.3.3
pygbif==0.2.0
django-haystack==2.8.1
amqp==2.4.0
Babel==2.5.3
backcall==0.1.0
beautifulsoup4==4.6.0
billiard==3.5.0.5
boto==2.48.0
cassandra-driver==3.13.0
celery==4.2.2
celery-flower==1.0.1
certifi==2018.1.18
chardet==3.0.4
curlify==2.0.1
Cython==0.28.2
decorator==4.2.1
django-braces==1.12.0
django-celery-beat==1.4.0
django-celery-results==1.0.1
django-cronfield==0.2
django-debug-toolbar==1.9.1
django-debug-toolbar-line-profiler==0.6.1
django-fancy-cronfield==0.2.0
django-mathfilters==0.4.0
django-online-users==0.3
django-registration==2.2
django-storages==1.6.6
django-summernote==0.8.8.6
django-timezone-field==3.0
django-timezone-utils==0.11
django-widget-tweaks==1.4.2
djangorestframework-bulk==0.2.1
djangorestframework-simplejwt==4.3.0
dnspython==1.15.0
gevent==1.3.7
greenlet==0.4.15
idna==2.6
ipython==6.3.1
ipython-genutils==0.2.0
jedi==0.11.1
kombu==4.3
line-profiler==2.1.2
lxml==4.2.1
mysqlclient==1.4.2.post1
nose==1.3.7
parso==0.1.1
pexpect==4.5.0
pickleshare==0.7.4
Pillow==5.1.0
prompt-toolkit==1.0.15
psycopg2-binary==2.7.4
ptyprocess==0.5.2
Pygments==2.2.0
python-crontab==2.3.5
python-dateutil==2.7.2
pytz==2018.9
PyYAML==3.13
redis==2.10.6
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.2.4
tornado==5.0.2
traitlets==4.3.2
urllib3==1.22
uWSGI==2.0.17
vine==1.3.0
wcwidth==0.1.7
#pysolr==3.8.1
coreschema==0.0.4
itypes==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pycrypto==2.6.1
PyJWT==1.7.1
uritemplate==3.0.0

# pyinjector
aiosmtplib==1.0.5
asyncio==3.4.3
aio_pika==5.5.3
