{% extends 'errors/base.html' %}
{% load static %}

{% block head %}
<title>400 Bad Request</title>
{% endblock %}

{% block content %}
<div class="error-body text-center">
	<div class="text-center m-b-20">
        <img alt="mozio" width="180" src="{% static 'assets/images/logo-light-text.png' %}">
    </div>
    <h1>400</h1>
    <h3 class="text-uppercase">Bad Request !</h3>
    <p class="text-muted m-t-30 m-b-30">The request couldn't be understood by the server due to malformed syntax.</p>
    <a href="{% url 'dashboard' %}" class="btn btn-info btn-rounded waves-effect waves-light m-b-40">Back to home</a>
</div>
{% endblock %}
